[submodule "third_party/libde265"]
	path = third_party/libde265
	url = https://github.com/strukturag/libde265
[submodule "third_party/xvc"]
	path = third_party/xvc
	url = https://github.com/divideon/xvc
[submodule "third_party/ovc"]
	path = third_party/ovc
	url = https://github.com/Belchy06/OpenVideoCoding
