[submodule ".\\src\\third_party\\xvc"]
	path = .\\src\\third_party\\xvc
	url = git://github.com/divideon/xvc
[submodule ".\\src\\third_party\\vvc\\vvenc"]
	path = .\\src\\third_party\\vvc\\vvenc
	url = git://github.com/fraunhoferhhi/vvenc
[submodule ".\\src\\third_party\\vvc\\vvdec"]
	path = .\\src\\third_party\\vvc\\vvdec
	url = git://github.com/fraunhoferhhi/vvdec
[submodule ".\\src\\third_party\\ovc"]
	path = .\\src\\third_party\\ovc
	url = git://github.com/Belchy06/OpenVideoCoding
